@import '../../styles/variables';

.profile {
  &__container {
    width: calc(#{$pebl-image-size-width} - 20px);
    height: calc(#{$pebl-image-size-width} + #{$medium-line-height});
    margin: $pebl-margin;
    &:hover {
      width: $pebl-image-size-width;
      // margin: calc(#{$pebl-margin} - 10px);
      margin: 15px;
    }
    &:hover .profile__image{
      width: $pebl-image-size-width;
      height: $pebl-image-size-width;
      opacity: 1;
    }
  }
  &__title {
    color: $black;
    font-size: $medium-font;
    line-height: $medium-line-height;
    padding: 0 $small-padding;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    text-decoration: none;
  }
  &__image{
    opacity: 0.7;
    height: calc(#{$pebl-image-size-width} - 20px);
    width: calc(#{$pebl-image-size-width} - 20px);
    border-radius: $pebl-image-size-width/2;
    -webkit-box-shadow:0 0px 7px rgba(0, 0, 0, 0.2);
    box-shadow:0 0px 7px rgba(0, 0, 0, 0.2);
  }
}
