@import '../../styles/variables';

.profile {
  &__container {
    width: $pebl-image-size-width;

  }
  &__title {
    color: white;
    font-size: $medium-font;
    line-height: $medium-line-height;
    padding: 0 $small-padding;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image{
    height: $pebl-image-size-width;
    width: $pebl-image-size-width;
    border-radius: $pebl-image-size-width/2;
    -webkit-box-shadow:0 0px 7px rgba(0, 0, 0, 0.2);
    box-shadow:0 0px 7px rgba(0, 0, 0, 0.2);
  }
}
