$white: #FFFFFF;
$black: #1B1B1B;
$green: #009887;

$small-padding: 0.5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;

$small-margin: 0.5rem;
$medium-margin: 1rem;
$large-margin: 1.5rem;

$small-font: 12px;
$medium-font: 18px;
$hero-heading-font-1: 42px;
$hero-heading-font-2: 32px;
$hero-heading-line-height: 51px;
$button-width: 160px;
$button-height: 40px;

$primary-font: Roboto, sans-serif;
$secondary-font: Oxygen, sans-serif;
