$white: #FFFFFF;
$black: #1B1B1B;
$grey: #B2B8BB;
$darkgrey: #292C33;
$green: #009887;
$yellow: #FFD111;

$g1: #4ca097;
$g2: #89bfb9;

$r1: #e47161;
$r2: #e99387;

$b1: #87b7ca;
$b2: #9fc6d4;

$small-padding: 0.5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;

$small-margin: 0.5rem;
$medium-margin: 1rem;
$large-margin: 1.5rem;

$small-font: 12px;
$small-line-height: 18px;
$medium-font: 18px;
$medium-line-height: 22px;
$hero-heading-font-1: 42px;
$hero-heading-font-2: 32px;
$about-heading-1: 35px;
$about-heading-2: 25px;
$hero-heading-line-height: 51px;

$border-radius: 6px;

$button-width: 160px;
$button-height: 40px;
$nav-height: 65px;
$pebl-image-size: 200px;

$primary-font: Roboto, sans-serif;
$secondary-font: Oxygen, sans-serif;
