@import '../../styles/variables';

.pebls {
  &__container {
    background: $green;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  &__list {
    list-style: none;
  }
  &__list-scroll {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
  }
  &__pebl {
    width: 25%;
    padding: 1rem;
    box-sizing: border-box;
  }
}
