@import '../../styles/variables';

.pebls {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  &__list {
    list-style: none;
    padding: 0;
    width: 1*$pebl-image-size-width + 2*$pebl-margin;
    margin: 0 auto;
  }
  &__list-scroll {
    display: flex;
    flex-wrap: wrap;
  }
  &__pebl {
    box-sizing: border-box;
    margin: $pebl-margin;
    border-radius: $border-radius;
  }
}

@media only screen and (min-width: 768px) {
  .pebls {
    &__list {
      width: 2*$pebl-image-size-width + 4*$pebl-margin;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .pebls {
    &__list {
      width: 4*$pebl-image-size-width + 8*$pebl-margin;
    }
  }
}

@media only screen and (min-width: 1680px) {
  .pebls {
    &__list {
      width: 5*$pebl-image-size-width + 10*$pebl-margin;
    }
  }
}
