@import '../../styles/variables';

.featured {
  &__container {
    display: flex;
    flex-direction: column;
    background: $offwhite;
    width: 100%;
  }
  &__sub-container {
    width: 70%;
    margin: 0 auto;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow-x: scroll;
  }
  &__heading {
    font-size: $large-font;
    color: $black;
    padding: $small-padding 0;
    margin-bottom: 0;
    margin-top: $large-padding*2;
  }
}

.alice-carousel__dots {
  display: none;
}
