@import '../../styles/variables';

.newsletters {
  &__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
  }
  &__heading {
    font-size: $large-font;
  }
}

.newsletter {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    font-size: $large-font;
  }
}

.article {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 80%;
    margin: 0 auto;
    padding: $medium-padding 0;
  }
}

.newsletter-menu {
  &__container {
    position: fixed;
    width: 100%;
    background: $white;
  }
}

//desktop
@media only screen and (min-width: 1024px) {
  .article {
    &__container {
      display: flex;
      flex-direction: row;
    }
    &__image {
      width: 50%;
    }
    &__text-container{
      width: 40%
    }
  }
}
