@import '../../styles/variables';

$colors: $tag-yellow, $tag-pink, $tag-blue, $tag-green;

.tag-input {
  &__sub-container {
    position: relative;
  }
  &__icon {
    position: absolute;
    height: $medium-line-height;
    width: $medium-line-height;
    color: $grey;
    padding: $small-padding;
  }
  &__container {
    display: flex;
    flex-direction: column;
    background: $offwhite;
    width: 100%;
  }
  &__input {
    list-style: none;
    padding: 0;
    // width: 0.8*(1*$pebl-image-size-width + 2*$pebl-margin);
    background: $lightgrey;
    height: $medium-line-height;
    padding: $small-padding;
    padding-left: $medium-line-height*2;
    border-radius: $border-radius;
    border: none;
    width: 1*$pebl-image-size-width + 2*$pebl-margin;
    margin: 0 auto;
  }
  &__title {
    font-size: $large-font;
    text-align: center;
    color: $black;
    width: 60%;
    margin: $small-margin auto;
    margin-top: $large-margin;
    font-weight: 600;
    justify-content: flex-start;
    padding: $large-padding*2 $medium-padding $medium-padding;
  }
  &__sug-tag-container{
    margin: auto auto;
  }
  &__sug-tag-button{
    margin: $small-margin;
    border-radius: $border-radius;
  }
  &__sug-tags{
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .tag-input {
    &__input {
      width: 0.8*(2*$pebl-image-size-width + 4*$pebl-margin);
    }
      &__sug-tag-container {
        width: 0.8*(2*$pebl-image-size-width + 4*$pebl-margin);
      }
  }
}

@media only screen and (min-width: 1024px) {
  .tag-input {
    &__input {
      width: 0.8*(4*$pebl-image-size-width + 8*$pebl-margin);
    }
      &__sug-tag-container {
        width: 0.8*(4*$pebl-image-size-width + 8*$pebl-margin);
      }
  }
}

@media only screen and (min-width: 1680px) {
  .tag-input {
    &__input {
      width: 0.8*(5*$pebl-image-size-width + 10*$pebl-margin);
    }
      &__sug-tag-container {
        width: 0.8*(5*$pebl-image-size-width + 10*$pebl-margin);
      }
  }
}


@for $i from 1 through length($colors) {
    .tag-input__sug-tag-button:nth-child(#{length($colors)}n+#{$i}) {
        background: nth($colors, $i)
    }
}
