@import '../../styles/variables';

.tag-input {
  &__sub-container {
    position: relative;
  }
  &__icon {
    position: absolute;
    height: $medium-line-height;
    width: $medium-line-height;
    color: $grey;
    padding: $small-padding;
  }
  &__container {
    display: flex;
    flex-direction: column;
    background: $offwhite;
    width: 100%;
  }
  &__input {
    list-style: none;
    padding: 0;
    width: 0.8*(1*$pebl-image-size-width + 2*$pebl-margin);
    background: $lightgrey;
    height: $medium-line-height;
    padding: $small-padding;
    padding-left: $medium-line-height*2;
    border-radius: $border-radius;
    border: none;
  }
  &__title {
    font-size: $medium-font;
    text-transform: uppercase;
    color: $white;
    width: 60%;
    margin: $small-margin auto;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .tag-input {
    &__input {
      width: 0.8*(2*$pebl-image-size-width + 4*$pebl-margin);
    }
  }
}

@media only screen and (min-width: 1024px) {
  .tag-input {
    &__input {
      width: 0.8*(4*$pebl-image-size-width + 8*$pebl-margin);
    }
  }
}

@media only screen and (min-width: 1680px) {
  .tag-input {
    &__input {
      width: 0.8*(5*$pebl-image-size-width + 10*$pebl-margin);
    }
  }
}
