@import '../../../styles/variables';

/*TEXT*/
.hero {
  &__container {
    height: 80%;
    padding-top: 150px;
    background: $black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__sub-container {
    width: 50%;
    margin-right: 0px;
    display: inline-block;
    float: left;
    margin-bottom: 70px;
    margin-top:$medium-margin
  }
  &__header {
    display: block;
    margin-left: $hero-left-margin;
    font-family: $primary-font;
    color: $white;
    font-size: $hero-heading-font-1;
    line-height: $hero-heading-line-height;
    text-align: left;
    letter-spacing: 2px;
    width:350px;
  }
  &__header-small {
    font-size: $hero-heading-font-2;
  }
  &__subheader {
    display: block;
    max-width: 500px;
    margin-left: $hero-left-margin;
    margin-top: $small-margin;
    font-family: $secondary-font;
    color: $white;
    font-size: $medium-font;
    line-height: 24px;
    font-weight: 400;
    text-align: left;

  }
  &__button-container{
    margin-top: $medium-margin;
    text-align: left;
    margin-left: $hero-left-margin;
    }
  &__button {
    width: $button-width;
    height: $button-height;
    margin: 0 $medium-margin 0 0;
    padding: $small-padding $medium-padding ;
    border: 2px solid $green;
    border-radius: 5px;
    background-color: $white;
    font-family: $primary-font;
    color: $green;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: $white;
      background-color: $green;
    }
  }
  &__button-2 {
    color: $white;
    background-color: $green;
    &:hover {
      color: $green;
      background-color: $white;
    }
  }
  &__image{
    float:right;
  }
  &__main-image{
    float: right;
    max-width: 50%;
    margin-bottom: -10px;
  }
  &__pebl{
    width: 100%;
  }
}

/* ICONS */
.hero {
  &__icons {
    display: flex;
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
    margin-top: $large-margin*3;
    margin-bottom: $large-margin;
  }
  &__icon-block {
    width: 25%;
  }
  &__icon-desc{
    font-size: 14px;
    margin: 0 $small-margin;
  }
  &__icon-img {
    height: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__container {
    flex-direction: row;
  }
}
