@import '../../../styles/variables';

/*TEXT*/
.hero {
  &__container {
    //TODO : Make it a percentage value so that its responsive
    // height: 80%;
    height: auto;
    padding-top: 1.5*$large-padding;
    background: $black;
    width: 100%;
    display: flex;
    flex-direction: row;

    // align-items: center;
  }
  &__slider-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  &__slider {
    width: 100%;
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  &__heading {
    display: block;
    font-family: $primary-font;
    color: $white;
    font-size: $hero-heading-font-2;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    &-desktop{
      display: none;
    }
  } 
  &__content {
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__image {
    margin:0;
    width: 90%;
  }
  &__text {
    text-align: left;
    font-size: $medium-font;
    padding: $medium-padding;
  }
  &__button {
    margin: 0 $medium-margin 0 0;
    padding: $small-padding $medium-padding ;
    border: 2px solid $white;
    border-radius: 5px;
    background-color: transparent;
    font-family: $primary-font;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: $black;
      background-color: $white;
    }
  }

}

.hero-menu {
  &__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    & li:not(:last-child) {
      border-bottom: 2px solid $green;
    }
  }
  &__list-item {
    width: 100%;
    list-style: none;
    padding: 1rem 0 ;
    display: flex;
    justify-content:flex-end;
  }
  &__container {
    display: flex;
    justify-content: center;
  }
  &__button {
    background: none;
    color: $green;
    border: none;
    cursor: pointer;
    font-size: $medium-font;
  }
}

/* ICONS */
.hero {
  &__icons {
    display: flex;
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
    margin-top: $large-margin*3;
    margin-bottom: $large-margin;
  }
  &__icon-block {
    width: 25%;
  }
  &__icon-desc{
    font-size: 14px;
    margin: 0 $small-margin;
  }
  &__icon-img {
    height: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-menu {
    &__list {
      display: flex;
    }
  }
  .hero {
    &__container {
      height: 400px;
    }
    &__text {
      padding: 0;
    }
    &__heading {
      text-align: left;
      &-mobile{
        display: none;
      }
      &-desktop{
        display: block;
      }
    }
    &__slider-container {
      width: 80%;
    }
    &__slider {
      flex-direction: row;
    }
    &__content {
      margin:0;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__image {
      margin:0;
      width: 40%;
    }
  }
  
}

.slick-list, .slick-slider, .slick-track {
  // padding: $small-padding;
  display: flex;
  align-items: center;
}

// .slick-slider {
//   //TODO : make the slider the full width of the carousel
//   // height: 100%;
//   width: 100%;
//   position: absolute;
//   margin: 0 $large-margin;
// }
