@import '../../styles/variables';

.collection {
  &__container {
    background: $white;
    width: $pebl-image-size-width;
    border-radius: $border-radius;
    -webkit-box-shadow:0 0px 7px rgba(0, 0, 0, 0.3);
    box-shadow:0 0px 7px rgba(0, 0, 0, 0.3);
    border-left: $blue $border-radius*1.5 solid;
  }
  &__title {
    color: $black;
    font-size: $medium-font;
    height: $pebl-image-size-height;
    line-height: $medium-line-height;
    padding: 0 $small-padding;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__no-files {
    text-transform: uppercase;
    font-size: $small-font;
    line-height: $small-line-height;
    padding: $small-padding/2 $small-padding;
    color: $white;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
