@import '../../styles/variables';

.studio {
  &__container {
    background: $offwhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: $large-padding;
  }
  &__heading {
    font-size: $subheading-font;
    color: $black;
    padding-top: $medium-padding;
    margin-bottom: 0;
    margin-top: $large-padding*2;
    display: flex;
    justify-content: center;
  }
}
